body {
  background-color: #ececec; 
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #b6adad; 
  text-align: center;
  margin-top: 100px;
}




.add-task-container {
  margin-bottom: 20px;
}

.task-list-container {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #4caf50;
  color: #fff; 
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049; 
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button.filter-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button.filter-button:hover {
  background-color: #0056b3;
}
